# thanks getchoo :3
name: build and cache stuff

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31

      - name: setup cachix
        uses: cachix/cachix-action@v16
        with:
          name: uku3lig
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: build derivation
        run: nix build --accept-flake-config -L
