# thanks getchoo :3

name: build and cache stuff
# this is for uploading images to a container registry when
# changes are made to `main`

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@v21

      - name: setup cachix
        uses: cachix/cachix-action@v16
        with:
          name: uku3lig
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: build derivation
        run: nix build --accept-flake-config -L
